<html>
<body>
<style>
    body { font-family: monospace; font-size: 10px; }
    table, th, td { border: 1px solid black; border-collapse: collapse; }
    th, td { vertical-align: top; padding: 5px; }
    div { max-height: 200px; overflow: auto; }
    tr.bad td { background-color: #F5B7B1; }
    pre { border: 1px solid black; max-height: 300px; max-width: 1024px; overflow: auto; padding: 5px; text-wrap: wrap;
</style>

<h1>Non-approved dependencies</h1>

<table>
    <tr>
        <th>Dependency</th>
        <th>Description</th>
        <th>License(s)</th>
        <th>Website</th>
        <th>Source repository</th>
    </tr>
{#each dependency in report.dependencies}
{#if !dependency.approvedByCncf}
    <tr>
        <td>{dependency.reference}</td>
        <td>{dependency.description}</td>
        <td>
            {#each license in dependency.allDeclaredLicenses}
            <p><a href="{license.reference}">{license.licenseId}</a></p>
            {/each}
        </td>
        <td><a href="{dependency.webUrl}">{dependency.webUrl}</a></td>
        <td><a href="{dependency.sourceUrl}">{dependency.sourceUrl}</a></td>
    </tr>
{/if}
{/each}
</table>

</body>
</html>